/agent
/agent.py
/api
/api_basics.py
/chatbot
/chatbot.py
/chatbot2.py
/chroma_demo.py
/chroma_query.py
/chroma_store
/chunking
/CRUDvectors
/dms
/embeddings.py
/embeddings2.py
/error_handling.py
/faiss_demo.py
/groqapi.py
/indexing.py
/ingestion
/langchain
/project1.py
/projectA.py
/rag_advanced.py
/rag_retrieval.py
/semantic_search
/semantic_search.py
/semantic_search_engine.py
/streaming.py
/test.py
/txt_extraction
/__pycache__